<div class="main">
    <secondary-navbar />
    <div class="content-handler">
        <h1 class="header">Svatchangizdagi mahsulotlar:</h1>
    </div>
    @if (isLoading) {
    <div class="big-content-handler">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    }
    @else {
    <div class="inner-main">
        <product-card [products]="products" [cardStatus]="'get'"/>
    </div>
    }
</div>