<div class="main">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="" routerLinkActive="router-link-active">
                <img class="img-logo" src="../../../assets/logo/logo-tarvooz.png" alt="">
                <h3 class="brand-header">Tarvooz</h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="btn btn-danger categories-btn" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                    aria-controls="flush-collapseOne">
                    <i class="bi bi-table"></i>Kategorialar
                </button>
                <form class="d-flex search-box" role="search">
                    <input name="searchPattern" [(ngModel)]="searchPattern" class="form-control me-2" type="search" placeholder="Qidirish" aria-label="Search">
                    <button (click)="exportSearchPattern()" class="btn btn-outline-success" type="submit">Qidirish</button>
                </form>
                <div class="navbar-elements-list-handler">
                    <ul class="navbar-elements-list">
                        <li class="navbar-element">
                            @if (isUserRegistered) {
                                <a routerLink="profile" class="btn btn-success">
                                    <i class="bi bi-person-circle"></i>Profil
                                </a>
                            }
                            @else {
                                <a routerLink="sign-in-up" class="btn btn-success">
                                    <i class="bi bi-people-fill"></i>Ro'yxatdan o'tish/Kirish
                                </a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    @for (category of categories; track $index) {
                    <button (click)="chooseCategory(category.name)" type="button" class="btn btn-outline-secondary category-btn">{{category["name"]}}</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>