.main{
    background-image: url(../../../assets/watermelon-background-3.jpg);
    background-size: cover;
}

.navbar{
    background-color: rgba($color: white, $alpha: 0.7)!important;
    backdrop-filter: blur(5px);
}

.navbar-brand{
    display: flex;
    align-items: center;
}

.img-logo{
    width: 80px;
    height: 50px;
}

.brand-header{
    margin-left: 10px;
    color: rgb(47,147,59);
}

.categories-btn{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

.bi-table{
    margin-right: 5px;
}

.search-box{
    width: 400px;
}

.navbar-elements-list-handler{
    width: 100%;
    display: flex;
    justify-content: end;
}

.navbar-elements-list{
    display: flex;
    list-style: none;
}

.navbar-element{
    margin-left: 10px;
    margin-left: 10px;
}

.accordion-body{
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba($color: red, $alpha: 0.1);
}

.category-btn{
    margin: 20px;
}