<div data-bs-theme="dark" class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Boshqaruv paneli</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a routerLink="/create-product" type="button" class="btn btn-success">Mahsulot qo'shish</a>
            <a routerLink="/users-products" type="button" class="btn btn-primary">Mening mahsulotlarim</a>
        </div>
        @if (isUserSuperAdmin) {
            <div>
                <a routerLink="create-category" class="btn btn-success">Kategoriya qo'shish</a>
            </div>
            <div>
                <a routerLink="statistics" class="btn btn-primary">Statistikani ko'rish</a>
            </div>
        }
    </div>
</div>