.main{
    width: 100%;
    min-height: 100vh;
}

.content-handler{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.carousel{
    width: 80%;
}

.carousel-img{
    height: 400px;
    object-fit: cover;
}

.cards-handler{
    width: 100%;
    margin-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    flex-wrap: wrap;
}

.main-spinner{
    width: 5rem;
    height: 5rem;
}